﻿fieldset{ border:0px;margin-top:10px; }
fieldset label{ font-weight:normal; color:#333; font:normal 12px Verdana; }
fieldset br{ clear:left; }
fieldset .txtbox 
{
    margin:3px 0px 10px 0px;
    font-family:Courier New;
    font-size:12px;
    padding:2px;
    border-left:1px solid #666;
    border-top:1px solid #666; 
    border-bottom:1px solid #CCC;   
    border-right:1px solid #CCC;
    
}
.bt_padrao
{
    margin:10px 0px 10px 0px;
    padding:3px;
    background:#C64605;
    color:#FFF;
    border:1px;
}

#box_contatos 
{
    float:right;
    padding:10px;
    border:1px solid #DDD;
    background-color:#EEE;
    width:363px;
}

#box_contatos h2{color:#999;font-size:20px;margin:10px 0px;}