﻿/* CSS Document */
/*GERAIS*/
*{ margin:0; padding:0; list-style:none; }

body{background:#E4E4CB url(../img/fundo-geral.gif) repeat-x;}

/* Heading Tags */
h1, h2, h3, h4, h5, h6{	font-family:Futura Md BT, Lucida Sans Unicode; font-weight:normal; color:#B54108 }

p {font:normal 12px Tahoma;line-height:20px;text-align:justify;}

a{ text-decoration:none; color:#5A5724; font-family:Tahoma; }
a:hover{ text-decoration:underline; }

.div_clear{	clear:both; }
.clear_left { clear:left; }

 /* Geral */
#geral  
{
    position:relative;
    margin:0px auto;
    width:1000px;
    height:100%;
}

/* Topo */
#topo
{
    margin:0;
    padding:0 10px;
    background:#5A5724 url(../img/topo-fundo.jpg) no-repeat;
    height:122px;
}
#topo .logo {}
#topo p 
{
    float:right;
    margin:15px 0px 0px 0px;
    font-family:Futura Bk BT, Tahoma;
    text-align:right;
    color:#FFF;
}

/* Menu */
#menu_hr 
{
    background:transparent url(../img/menu-hr-fundo.png) no-repeat;
    height:60px;
    text-align:center;
    font:normal 12px Tahoma;
}

#menu_hr ul { line-height:50px;}
#menu_hr ul li { display:inline; }
#menu_hr ul li a  
{
    padding:0 10px;
    color:#FFF;
    text-decoration:none;
    font-weight:bold;
    border-right:1px solid #F56219;
}
#menu_hr ul li a:hover {color:#F1F09C;text-decoration:none;}

/* Banner */
#banner {background-color:#FFF;}

/* Menu Serviços */
#mn_servicos 
{
    float:right;
    margin:28px 0px 0px 10px;
    background:transparent url(../img/menu-servicos-fundo.png) no-repeat;
    width:375px;
    height:338px;
    font:normal 12px Tahoma;
}
#mn_servicos h2 {margin:20px 0px 20px 20px;font-size:24px;}
#mn_servicos ul{margin:20px 0px 20px 20px;}
#mn_servicos ul li{display:block;line-height:30px;}
#mn_servicos ul li a{font-size:15px;color:#010101;}

/* Meio */
#conteudo {background-color:#FFF;padding:10px;}
#conteudo h1{font-size:24px;margin-top:20px;}

#valores_home 
{
    background:transparent url(../img/valores-fundo.png) no-repeat;
    width:585px;
    height:108px;    
}

/* Rodape */
#rodape 
{
    margin-bottom:15px;
    padding:0 10px;
    background:transparent url(../img/rodape-fundo.png) no-repeat;
    height:68px;
}
#rodape ul {padding-top:30px; font:normal 10px Tahoma;}
#rodape ul li{float:left;}
#rodape ul li a
{
    padding:0 10px;
    color:#FFF;
    text-decoration:none;
    border-right:1px solid #FFF;
}
#rodape ul li a:hover{color:#F1F09C;text-decoration:underline;}

#rodape p.copyright 
{
    float:right;
    margin-top:25px;
    font-size:10px;
    line-height:14px;
    text-align:right;
    color:#F5905E;
}
#rodape p a {color:#F5905E;}