﻿.pg_tabelionato{}
.pg_tabelionato h2{color:#F56219;margin-top:10px;}


ul.li_tabelionato 
{
    border-bottom:1px dotted #000;
    font:normal 12px Tahoma;    
    text-align:justify;
}
ul.li_tabelionato li {line-height:20px;margin:15px 0px;}
ul.li_tabelionato li ul li{margin:10px 0px 10px 30px;}

.lista_pai{font-weight:bold;}
.lista_filho{font-weight:bold;color:#B54108;}
.lista_neto{font-weight:bold;color:#5A5724;}

ul.li_tabelionato a {font-size:16px;}
